@charset "utf-8";
body{
	font-family: 'Roboto';
}

#cabecera{
	height: 400px;
}

#imgcab {
	width: 100%;
	position: absolute;
	filter: brightness(0.4);
	top: -100px;
}

#cabecera h1, #cabecera h4{
	color: white;
	text-align: center;
	position: relative;
	z-index: 100;
	top: 150px;
}
